body {
    overflow: hidden;
    max-height: 100vh;
  }

  .title {
    width: 40%;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    left: 30%;

  }

  .font-title {
    position: absolute;
    z-index: 100;
    background: none;
    font-family: title;
    color: maroon;
  }

  .owl-carousel {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }

  .btn-view {
    position: fixed;
    z-index: 1000;
    font-size: 100%;
    bottom: 2%;
    right: 2%;
    color: white;
    text-decoration: none;
    background-color: maroon;
    padding: 1% 2%;
    border-radius: 100px;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  @font-face {
    font-family: title;
    src: url(delirium_sample.ttf);
  }

  .camera {
    display: none;
  }

  .j {
    display: block;
  }

  .image-camera {
    z-index: 1000;
    position: absolute;
    bottom: -65%;
    width: 100%;
    left: 20%;
  }

  .image-camera img {
    width: 60%;
  }

  .content-camera {
    z-index: -1;
    left: 19%;
    width: 28%;
    bottom: 64%;
    position: absolute;
  }

  .content-camera img {
    width: 40%;
  }
 
  @media screen and (min-width: 801px) and (max-width: 1100px) {
    body {
      max-height: 100vh;
      overflow: hidden;
    }

    .image-camera {
      bottom: -70%;
      left: 15%;
    }

    .image-camera img {
      width: 75%;
    }

    .content-camera {
      left: 24%;
      width: 18%;
      bottom: 64%;
      position: absolute;
    }

    .title {
      width: 80%;
      left: 28%;
    }

    .font-title {
    font-size: 40px;
  }
}

  @media screen and (min-width: 576px) and (max-width: 800px) {
    body {
      max-height: 100vh;
      overflow: hidden;
    }

    .image-camera {
      bottom: -70%;
      left: 0;
    }

    .image-camera img {
      width: 100%;
    }

    .content-camera {
      left: 31%;
      width: 20%;
      bottom: 65%;
      position: absolute;
    }

    .title {
      width: 80%;
      left: 20%;
    }

    .font-title {
    font-size: 40px;
  }


  }

  @media only screen and (max-width: 576px) {
    .body {
      max-height: 100vh;
      overflow: hidden;
    }

    .image-camera {
      bottom: -35%;
      left: 0;
      z-index: 1000;
    }

    .image-camera img {
      width: 100%;
    }

    .content-camera {
      position: absolute;
      z-index: -1;
      left: 30%;
      width: 20%;
      bottom: 60%;
    }

    .owl-carousel img {
      height: 100%;
      overflow: hidden;
    }

    .title {
      width: 80%;
      margin: auto;
      left: 22%;
    }

    .font-title {
      font-size: 150%;
    }
  }
